<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
  <title>Om sidan</title>
</head>

<body>
  <header id="header">
    <ul>
      <li><a href="/">Startsidan</a></li>
      <li><a href="/addcourse">Lägg till kurs</a></li>
    </ul>
  </header>

  <div id="aboutMain">
    <section>
      <h1>Om webbplatsen</h1>
      <article>
        <p>
          Denna webbplats är en tjänst där du kan bygga ditt egna "studie CV". Du kan vissa dem olika kurser du studerar eller har studerat, med hjälp av ett formulär som skickar den ifyllda informationen till en databas som sedan skriver ut samtliga på startsidan.
        </p>
        <p>
          Formuläret validerar den inmatade informationen på direkten, innan kommandot att spara det i databasen körs. Även fel från databasen visas i gränssnittet, i fall reglerna för databasen inte uppfylls.
          Webbplatsen tillhandahålls av Render, med PostgreSQL som databastjänst, via Render.
        </p>
        <h3>Slutsatser</h3>
        <p>
          Uppgiften var svår att komma igång med. Även fast slutändan blir likadant som front-end tyckte jag att det var svårt att börja om i logiken och tänket. Att använda sig av app.get/post och res.render/redirect osv. Istället för att bara länka mellan sidorna i HTML, att man behövde skriva kod och skicka variabler mellan undersidorna var svårt. Det har nog inte än fastnat helt, förhoppningsvis blir det lättare i framtiden :)
        </p>
      </article>
    </section>
  </div>


</body>

</html>