body {
    font-family: "Quicksand", sans-serif;
    background-color: #98baba;
    color: #242424;
}

#header {
    width: 100%;
    border-bottom: 1px solid grey;

    ul {
        display: grid;
        grid-template-columns: auto auto;
        list-style: none;
        justify-items: center;
        align-items: center;
    }

    a {
        text-decoration: none;
    color: #242424;
    background: #f9f969;
    border: 1px solid;
  box-shadow: 5px 10px 18px #888888;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    }
    a:hover {
        text-decoration: underline;
        background: #d8d859
    }
}

#indexMain {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#courseSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        margin: 0;
    }

    p {
        margin: 0.5rem;
    }
}

.course {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editCourse {
     text-decoration: none;
    color: #242424;
    background: #f9f969;
    border: 1px solid;
  box-shadow: 5px 10px 18px #888888;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.editCourse:hover {
    text-decoration: underline;
}
.deleteCourse {
    text-decoration: none;
    color: #242424;
    background: #DB9FA2;
    border: 1px solid;
  box-shadow: 5px 10px 18px #888888;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.deleteCourse:hover {
    text-decoration: underline;
}

#divider {
    border-bottom: 1px solid grey;
    width: 350px;
    margin: 1rem 0 1rem 0;
}


#addcourseMain {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#coursesForm {
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
    }

    input[type=text] {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    select {
        width: 100%;
        background-color: #575757;
        color: #ffffff;
        padding: 14px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit] {
        width: 100%;
        background-color: #397b3b;
        color: white;
        padding: 14px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}

#errorsDiv {
    text-align: left;
}

#aboutMain {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    article {
        text-align: left;
        max-width: 65ch;
    }

    h3 {
        text-align: center;
    }
}